*{
    margin:0;
    padding:0;
}
.myMargin{
    margin:25px;
    padding-top: 20px;
   }
.form-label{
    color:white;
}
.form-text{
    color:white;
}
.form-check-label{
    color:white;
}
.carousel-item{
    width:640px;
    height: 500px;
}
.displayBadge{
    margin-top: 5%; 
    color:white; 
    text-align :right;
}

/* pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" */
