*{
    margin:0;
    padding:0;
}

body{
    margin:0;
    padding:0;
    height:auto;
    width:auto;
    
    background-image:url(../images/kerala.jpg);
    background-size:cover;
    background-repeat: no-repeat;
} 
.myMargin{
    margin:25px;
   }
